.env
.env.*
!.env.example

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
dist/

android/.gradle/
android/app/build/
android/build/
android/local.properties

tools/android-sdk/
tools/downloads/
tools/jdk/

public/downloads/*.exe
public/downloads/project-lively.apk
